extends ../templates/mainLayout.pug

block content
	br
	br
	h1 New Products
	.bio-heading
		p
			| Evolution Controls Inc. is pleased to present our newest additions to
			| the expanding line of controllers for the energy-saving EC Motors.
	br
	br
	.row
		.col.product-image
			img(src='' alt='')
		.col.product-description
			h5 EVO/™ECM-CTC (Changeover Temperature Control)
			ul
				li Exhaust Fan Control
				li Whole house fan control
				li Outside Air Economizer
				li Discharge Air Temperature Control
				li Condenser Air Fan Control
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| datasheets
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| quick guide
	br
	br
	.row
		.col.product-image
			img(src='' alt='')
		.col.product-description
			ul
				li
					| Equipment manufacturer can download preconfigured custom
					| profile to PRO series controls
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| learn more
	br
	br
	.row
		.col.product-image
			img(src='' alt='')
		.col.product-description
			h5 EVO/™ECM-GCU (Gradual Control Unit)
			ul
				li PWM or 0-10VDC universal output
				li
					| Allows accurate manual adjustment of EC motors and other HVAC
					| and industrial control applications
				li
					| Compatible with standard single gang box for wall mounting in
					| occupied space
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| datasheets
	br
	br
	.row
		.col.product-image
			img(src='' alt='')
		.col.product-description
			h5 EVO/™RLSW (Relay Switch)
			ul
				li
					| Detects PWM or senses 0-10VDC signal thresholds to
					| automatically switch equipment on/off in HVAC applications
				li
					| Selectable switching voltage thresholds in 0-10V voltage
					| sensitive relay mode
				li Built-in hysteresis to avoid contact chatter
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| datasheets
	br
	br
	.row
		.col.product-image
			video(src='')
		.col.product-description
			h5 EVO/™ECM-BCU (Bluetooth® Control Unit)
			ul
				li
					| Our new BCU provides all the advantages of wireless remote
					| control and more.
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| datasheets
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| see more
		br
		br
		.row
			.col.product-image
				video(src='')
			.col.product-description
				h5 EVO/™ECM-VCU S3 (Visual Control Unit)
				ul
					li
						| The VCU S3 now has a new general 0-10VDC output option for
						| 0-10VDC controlled EC motors, damper actuators, valves,
						| etc.
				a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
					| datasheets
		.row
			.col.product-image
				img(src='' alt='')
			.col.product-description
				h5 EVO/™ECM-DPC (Differential Air Pressure Control Unit)
				ul
					li
						| An easy to use, cost-effective, one-piece air pressure
						| controller. Control the air pressure in a space served by
						| an EC driven fan or 0-10VDC controlled actuator. Great
						| solution for variable volume building exhaust systems, room
						| pressurization, and duct/plenum pressurization.
				a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
					| datasheets
		br
		br
		.row
			.col.product-image
				img(src='' alt='')
			.col.product-description
				h5 EVO/™ECM-DPC (Differential Air Pressure Control Unit)
				ul
					li
						| An easy to use, cost-effective, one-piece air pressure
						| controller. Control the air pressure in a space served by
						| an EC driven fan or 0-10VDC controlled actuator. Great
						| solution for variable volume building exhaust systems, room
						| pressurization, and duct/plenum pressurization.
				a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
					| datasheets
		br
		br
		.row
			.col.product-image
				img(src='' alt='')
			.col.product-description
				h5 EVO/™ECM-DPC (Differential Air Pressure Control Unit)
				ul
					li
						| An easy to use, cost-effective, one-piece air pressure
						| controller. Control the air pressure in a space served by
						| an EC driven fan or 0-10VDC controlled actuator. Great
						| solution for variable volume building exhaust systems, room
						| pressurization, and duct/plenum pressurization.
				a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
					| datasheets
		br
		br
		.row
			.col.product-image
				img(src='' alt='')
			.col.product-description
				h5 EVO/™ECM-SNV-S1 (Severe Environment Control Unit)
				ul
					li
						| If you need a simple, rugged 0-+10V to ECM motor interface,
						| the ECM-SNV Severe Environment control is the right choice.
						| Small and simple to mount. Simply connect ~24V power, an
						| input signal and two or three wires to the motor to start
						| using the control. Mount the SNV in warm moist climates, or
						| where cold weather taxes the life of other controls.
				a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
					| datasheets
		br
		br
		.row
			.col.product-image
				img(src='' alt='')
			.col.product-description
				h5 EVO/™ECM-MSpd (Multi-Speed Controller)
				ul
					li Up to 4 Speed Calls over 2 wires
					li Isolated Switch Input Protection
					li PWM or 0-+10V Output
					li Gradual or Fast Speed Change
					li
						| Pilot Pulse (Autoswitch) provides a 49us pulse at a minimum
						| and maximum signal so the motor knows the EVO/ECM-MSpd is
						| connected.
				a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
					| datasheets
		br
		br
		.text-center
			a.btn.btn-secondary(href=baseUrl + 'new-products.html' type='button')
				| Back to Top
