block content
    .slideshow-container
        // Full-width images with number and caption text
        .mySlides.fade
            .numbertext 1 / 5
                .carousel-image
                    a(href=baseUrl + 'products-sub-pages/pro-series.html')
                        img(src=baseUrl + 'src/photos/carousel/Evo_Pro_Series-V2.png' alt='photo 1')
        .mySlides.fade
            .numbertext 2 / 5
                .carousel-image
                    a(href=baseUrl + 'new-products.html')
                        img(src=baseUrl + 'src/photos/carousel/Modbus BACnet Interface_Page_1.png' alt='photo 2')
        .mySlides.fade
            .numbertext 3 / 5
                .carousel-image
                    a(href=baseUrl + 'new-products.html')
                        img(src=baseUrl + 'src/photos/carousel/New Product Banner Edit.jpg' alt='photo 3')
        .mySlides.fade
            .numbertext 4 / 5
                .carousel-image
                    a(href=baseUrl + 'new-products.html')
                        img(src=baseUrl + 'src/photos/carousel/web front page.png' alt='photo 4')
        .mySlides.fade
            .numbertext 5 / 5
                .carousel-image
                    a(href=baseUrl + 'products-sub-pages/wireless-series.html')
                        img(src=baseUrl + 'src/photos/carousel/EVO_Lab_Ref_BCU_original.png' alt='photo 5')
        // Next and previous buttons
        a.prev(onclick='plusSlides(-1)') ❮
        a.next(onclick='plusSlides(1)') ❯
    br
    // The dots/circles
    div(style='text-align:center')
        span.dot(onclick='currentSlide(1)')
        span.dot(onclick='currentSlide(2)')
        span.dot(onclick='currentSlide(3)')
        span.dot(onclick='currentSlide(4)')
        span.dot(onclick='currentSlide(5)')

    script
        include ../src/photo-carousel.js

