extends ../../templates/mainLayout.pug

block head
    title Accessories, Sensors, and Cables — Evolution Controls Inc.

block content 
    br
    br
    h1 Accessories, Sensors, and Cables
    br
    .col.page-numbers
        a.current-page(href=baseUrl + 'products-sub-pages/accessories-cables.html' type='button')
            |1 &nbsp.
        a(href=baseUrl + 'products-sub-pages/accessories-cables-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/accessories-cables-pg3.html' type='button')
            |&nbsp 3
    br
    .row
        //-1
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/ECM 3PT.gif' alt='10Y-3PT Control Unit')
        .col.product-description
            h5 EVO/™10Y-3PT (3 Point Floating Control Unit)
            ul.product-subheading
                li
                    |Increase/decrease control for 0-10Vdc devices
                li
                    |Digital Accuracy
                li
                    |Adjustable Rate
                li
                    |Output Signal Lamp
                li
                    |OEM and Contractor Versions
                li
                    |Allows VAV controls to control 0-10V device instead of damper
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1dpGEvl24ZKqtaNVsoMtEVvvRLkV2S8Nd/view' target='_blank' type='button')
                |DATASHEET
    br
    .row
        //-2
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/10Y-PWMa Datasheet.bmp' alt='10Y-PWMa Control Unit')
        .col.product-description
            h5 EVO/™10Y-PWMa (Pulse Width Modulation Control Unit)
            ul.product-subheading
                li
                    |Converts DC PWM signals to a standard 0V to +10V automation signal.
                li
                    |The PWM input is optically isolated from the 0V to +10V signal circuit and power to prevent ground loops and allow multiple devices located over a distance to be driven by the same PWM signal.
                li
                    |The PWM signal connections are not polarity sensitive and may operate over a peak voltage range from +5V to +24V.
                li
                    |Acceptable PWM rate is from 10 pulses per second to 200 pulses per second.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1XWxmSGQ-d943aKfvATYHEByTEo1Xp3vJ/view' target='_blank' type='button')
                |DATASHEET
    br
    .row
        //-3
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/IRC 10Y.JPG' alt='IRC Control Unit')
        .col.product-description
            h5 EVO/™IRC-10Y Interface (0-10V Infrared Remote Control System)  
            ul.product-subheading
                li
                    |Adjusts a 0-10V control signal using the handheld remote shown in the IRC System on the EC Motor Controls page.
                li
                    |A control interface mounts near the terminal unit controller, AHU Controller, programmable logic controller or other control equipment that accepts the 0-10Vdc signal.
                li
                    |The infrared sensor and feedback lamp can be mounted on the control interface or to the end of a remote sensor cable assembly.
                li
                    |The handheld remote allows entry of any whole number between 0 and 100.
                li
                    |The signal at the control interface responds with an output in 0.1V increments.
            p Common applications include adjustment of:
            ul.product-subheading
                li
                    |Temperature
                li
                    |Position
                li
                    |Humidity
                li
                    |Ventilation
                li
                    |Lighting Level
                li
                    |Audio Level
                li
                    |RPM
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/12xKa7Xz0NxCwMuKsDTD-OLO7oOWixvUL/view' target='_blank' type='button')
                |DATASHEET
    br
    .row
        //-4
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/MXC2-S0.jpg' alt='Motor Control Connector')
        .col.product-description
            h5 EVO/™ECM-MXC2(2 Motor Control Connector)
            p.product-subheading
                |The EVO/ECM-MXC2 connects one EVO/ECM-Control to 2 motors. The master control sets the speed of both motors. A second control may be connected to monitor the 2nd motor RPM.
            p.product-subheading
                |The 2 motor connect is compatible with the following EVO/ECM-Controls:
            ul.product-subheading
                li
                    |EVO/ECM-ACU PRO
                li
                    |EVO/ECM-4SPD PRO
                li
                    |EVO/ECM-VCU PRO
                li
                    |EVO/ECM-EHC
                li
                    |EVO/ECM-IRC
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1kvoAwhRqu-d7kvYWWe3uplzPY8-LIESd/view' target='_blank' type='button')
                |DATASHEET

    br
    .col.page-numbers
        a.current-page(href=baseUrl + 'products-sub-pages/accessories-cables.html' type='button')
            |1 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/accessories-cables-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/accessories-cables-pg3.html' type='button')
            |&nbsp 3
    .text-center
        a.btn.btn-secondary.back-to-top(href=baseUrl + 'products-sub-pages/accessories-cables.html' type='button')
            |back to top