extends ../../templates/mainLayout.pug 

block head
    title EC Motor Controls — Evolution Controls Inc.

block content 
    br
    br
    h1 EC Motor Controls
    br
    br
    .col.page-numbers
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls.html' type='button')
            |1 &nbsp.  
        a.current-page(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg3.html' type='button')
            |&nbsp 3 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg4.html' type='button')
            |&nbsp 4
    br
    .row
        //-5
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/CTC Plate.png' alt='CTC Control')
        .col.product-description
            h5 EVO/™ECM-CTC (Changeover Temperature Control)
            ul
                li Exhaust Fan Control
                li Whole house fan control
                li Outside Air Economizer
                li Discharge Air Temperature Control
                li Condenser Air Fan Control
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1V3_azrL5EK5nP_BsiEr2Kli0m15qty9-/view' target='_blank')
                | DATASHEET
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1GUCzCbZy31VqG4Yzgit4NBw2gN3E6BsZ/view' target='_blank')
                | QUICK GUIDE
    br
    br
    .row
        //-6
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/DPC Cover final.png' alt='DPC Controller')
        .col.product-description
            h5 EVO/™ECM-DPC (Differential Air Pressure Control Unit)
            p.product-subheading 
                |The EVO/ECM-DPC controls an EC Motor powered fan or actuator to maintain an 
                |adjustable static or differential air pressure. 
            p.product-subheading    
                |Set the air pressure setpoint to the desired pressure. Then 
                |proportional & integral control technology 
                |modulates the fan or actuator to maintain setpoint.
            ul
                li PWM or 0-+10V Output
                li 
                    |Applications: Rooftop Exhaust, Cleanrooms, Ventilation Systems, 
                    |Modulating Diffuser Systems, Restaurants.
                li Adjustment range is from Off to 100% of the programmed control range.
                li A fifth adjustment sets the flow index when no call is selected.
                li Pilot Pulse Enable/Disable.
                li PWM or 0-10 V output
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1V6BQqEr0SanGGUoLdIr1CrD-Evnk4pyH/view' target='_blank')
                | DATASHEET
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | MORE ON PRO FEATURES
    br
    br
    .row
        //-7
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/DTC16.jpg' alt='DTC16 Control Unit')
        .col.product-description
            ul
                li EVO/™ECM-DTC16 (Differential Temperature Control Unit)
                li EVO/™SNS-AA (Thermistor senor used with the EVO/ECM-DTC16)
            a.btn.btn-secondary.products(href=baseUrl + 'products-sub-pages/ec-motor-controls-sub.html' type='button')
                | SEE MORE
    br
    br
    .row
        //-8
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/ECM-EHC-0.jpg' alt='EHC Control Unit')
        .col.product-description
            h5 EVO/™ECM-EHC (Electric Heater Control Unit)
            p 0-10 Volt automation interface with low RPM, electric heat cutout.
            ul
                li Signal controls motor on/off and output (air volume).
                li Eliminates troublesome pressure and paddle switches.
                li The heater only works when the motor is in the correct RPM (speed) range.
                li Heat cutout on high and low RPM.
                li Limits track speed setting.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1FFOtsA4Dc4iTvSNg5p4Kd746zS-lHSpJ/view' target='_blank')
                | DATASHEET
    br
    .col.page-numbers
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls.html' type='button')
            |1 &nbsp.  
        a.current-page(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg3.html' type='button')
            |&nbsp 3 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg4.html' type='button')
            |&nbsp 4
    .text-center
        a.btn.back-top.back-to-top(href=baseUrl + 'products-sub-pages/ec-motor-controls.html' type='button')
            | Back to Top