extends ../../templates/mainLayout.pug 

block head
    title EC Motor Controls — Evolution Controls Inc.

block content 
    br
    br
    h1 EC Motor Controls
    br
    br
    .col.page-numbers
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls.html' type='button')
            |1 &nbsp.
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg2.html' type='button')
            |&nbsp 2 &nbsp.
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg3.html' type='button')
            |&nbsp 3 &nbsp.
        a.current-page(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg4.html' type='button')
            |&nbsp 4
    br
    .row
        //-13
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/ECM Mspd2.png' alt='Mspd2 Control Unit')
        .col.product-description
            h5 EVO/™ECM-MSpd (Multi-Speed Controller)
            ul
                li Up to 4 Speed Calls over 2 wires 
                li Isolated Switch Input Protection  
                li PWM or 0-+10V Output 
                li Gradual or Fast Speed Change 
                li Pilot Pulse (Autoswitch) provides a 49us pulse at a minimum and maximum signal so the motor knows the EVO/ECM-MSpd is connected.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1hoW8nfJboAupmKEwaRoGtDzLBBGHumx8/view' target='_blank')
                | DATASHEET
    br
    br
    .row
        //-14
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/SNV-S1 Front.jpg' alt='SNV Control Unit')
        .col.product-description
            h5 EVO/™ECM-SNV-S1 (Severe Environment Control Unit)
            p The EVO/ECM-SNV allows industry standard 0V to +10V automation signals to 
                |adjust PWM controlled EC Motors. The device is designed and packaged to 
                |provide a solution for rooftop machinery and other severe environment applications.
            p The SNV provides remote adjustment of the motor output from 0% to 100% pwm of 
                |the motor’s programmed control range.  A signal lamp continuously flashes out 
                |the percentage of pwm. Instruments are not required to read the output. The signal 
                |lamp also indicates the EVO/ECM-SNV is powered, the microcontroller is running and 
                |indicates the control signal in tenths of a Volt.
            ul
                li The green lamp continuously indicates the %pwm motor control signal.
                li Pilot Pulse (Autoswitch) provides a 49us pulse at a minimum and maximum signal so the motor knows the EVO/ECM-SNV is connected.
                li Pilot pulse detection switches the motor to be controlled by the pilot pulse capable controller for automation and other special applications.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1hoW8nfJboAupmKEwaRoGtDzLBBGHumx8/view' target='_blank')
                | DATASHEET
    br
    br
    .row
        //-15
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EVO-ECM-VCU-MP.png' alt='VCU Control Unit')
        .col.product-description
            h5 EVO/™ECM-VCU-PRO (Visual Control Unit)
            p Four-digit LED display alternates between flow index and RPM. Easy to adjust, especially in dark spaces.
            ul
                li PWM or 0-10 volts DC outputs
                li Connect up to two motors
                li Allows accurate manual adjustment and monitor of fans.
                li Features a 4-digit LED display to allow easy reading in dark spaces.
                li Flow index can be set with the screwdriver adjust.
                li Four display modes for flow indexes and motor RPMs.
                li Motor speed deviation alarm when controlling two motors
                li May also be used where automation systems only turn the fan on or off.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1hoW8nfJboAupmKEwaRoGtDzLBBGHumx8/view' target='_blank')
                | DATASHEET
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | MORE ON PRO FEATURES
    br
    br
    .row
        //-16
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/X13_No_Wires.png' alt='X13 Control Unit')
        .col.product-description
            h5 EVO/™ECM-X13
            ul
                li Allow a 0- +10V signal to step control a Regal Beloit X13 or Endura Pro ECM motor.
                li Two control sequences to provide the smoothest possible proportional control of the 5 stage ECM motor
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1hoW8nfJboAupmKEwaRoGtDzLBBGHumx8/view' target='_blank')
                | DATASHEET
    .col.page-numbers
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls.html' type='button')
            |1 &nbsp.
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg2.html' type='button')
            |&nbsp 2 &nbsp.
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg3.html' type='button')
            |&nbsp 3 &nbsp.
        a.current-page(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg4.html' type='button')
            |&nbsp 4
    .text-center
        a.btn.back-top.back-to-top(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg4.html' type='button')
            | Back to Top