extends ../../templates/mainLayout.pug 

block head
    title EC Motor Controls — Evolution Controls Inc.

block content 
    br
    br
    h1 EC Motor Controls
    br
    br
    .col.page-numbers
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls.html' type='button')
            |1 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a.current-page(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg3.html' type='button')
            |&nbsp 3 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg4.html' type='button')
            |&nbsp 4
    br
    .row
        //-9
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/GCU wall plate.jpg' alt='DTC16 Control Unit')
        .col.product-description
            h5 EVO/™ECM-GCU (Gradual Control Unit)
            ul
                li PWM or 0-10VDC universal output
                li Allows accurate manual adjustment of EC motors and other HVAC and industrial control applications
                li Compatible with standard single gang box for wall mounting in occupied space
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1612UZzE1_U68OkZEhwuX1ilHtegmAis5/view' target='_blank')
                | DATASHEET
    br
    br
    .row
        //-10
        .col.product-image
            img.product-photos(src='../src/photos/wireless-subpage/Handheld.jpg' alt='IRC Remote')
        .col.product-description
            h5 EVO/™IRC-Remote (Infrared Remote Control Unit)
            h5 EVO/™IRC-Remote Sensor
            h5 EVO/™ECM-IRC Controller
            a.btn.btn-secondary.products(href=baseUrl + 'products-sub-pages/wireless-series-subpage.html' type='button')
                | SEE MORE
    br
    br
    .row
        //-11
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/MDR16.jpg' alt='MDR16 Control Unit')
        .col.product-description
            h5 EVO/™ECM-MDR16 (Motor Driver Control Unit)
            p The EVO/ECM-MDR16 motor driver allows manual adjust, or industry standard 0-10V automation signals to control up to 16 EC Motors.
            ul
                li Allows accurate manual adjustment and monitor of fans for up to 16 motors.
                li Provides local or remote adjustment of the EC Motor output from 1% to 100%.
                li A signal lamp on the control continuously flashes out the flow index.
                li Instruments are not required to read the flow index (%).
                li May also be used for stand-alone manual controls.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1612UZzE1_U68OkZEhwuX1ilHtegmAis5/view' target='_blank')
                | DATASHEET
    br
    br
    .row
        //-12
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EVO_ModBus_pt_2.jpg' alt='Modbus Unit')
        .col.product-description
            h5 For Fan Filter Units and other applications
            p EVO/™ECM-MODBUS (Application specific ModBus RTU)
            p EVO/™MODBUS Configurator (Windows Configurator Tool)
            p EVO/™ECM-BACnet-Modbus interface library
            p EVO/™Air Fiddler+ (EC Motor Monitor & Control software)
            a.btn.btn-secondary.products(href=baseUrl + 'products-sub-pages/modbus-sub.html' type='button')
                | LEARN MORE
    br
    .col.page-numbers
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls.html' type='button')
            |1 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a.current-page(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg3.html' type='button')
            |&nbsp 3 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg4.html' type='button')
            |&nbsp 4
    .text-center
        a.btn.back-top.back-to-top(href=baseUrl + 'products-sub-pages/ec-motor-controls-pg3.html' type='button')
            | Back to Top