extends ../../templates/mainLayout.pug 

block content 
    br
    br
    h1 EC Motor Controls
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 EVO/™ECM-3PT (3 Point Floating Control Unit)
            ul
                li Increase/decrease control for EC Motors.
                li Adjustable Rate.
                li 0-10V feedback.
                li Status and Flow Index Lamps.
                li OEM and Contractor Versions.
                li Allows VAV controls to control motor instead of a damper.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 EVO/™ECM-4Spd-PRO (4 Speed Interface Unit)
            p.product-subheading Allows 24 Vac controls to select one of four adjustable flow indexes for an EC Motor.
            ul
                li Isolated Taps.
                li Fast or Gradual Speed Change.
                li Adjustment range is from Off to 100% of the programmed control range.
                li A fifth adjustment sets the flow index when no call is selected.
                li Pilot Pulse Enable/Disable.
                li PWM or 0-10 V output
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | datasheet
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | more on pro features
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            ul
                li EVO/™ECM-BCU (Bluetooth® Control Unit)
                li EVO/™BT Configurator (Windows Configurator Tool)
                li EVO Devices Android and iPhone Apps
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | see more
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 EVO/™ECM-CTC (Changeover Temperature Control)
            ul
                li Exhaust Fan Control
                li Whole house fan control
                li Outside Air Economizer
                li Discharge Air Temperature Control
                li Condenser Air Fan Control
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | datasheet
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | quick guide
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 EVO/™ECM-DPC (Differential Air Pressure Control Unit)
            p.product-subheading 
                |The EVO/ECM-DPC controls an EC Motor powered fan or actuator to maintain an 
                |adjustable static or differential air pressure. 
            p.product-subheading    
                |Set the air pressure setpoint to the desired pressure. Then 
                |proportional & integral control technology 
                |modulates the fan or actuator to maintain setpoint.
            ul
                li PWM or 0-+10V Output
                li 
                    |Applications: Rooftop Exhaust, Cleanrooms, Ventilation Systems, 
                    |Modulating Diffuser Systems, Restaurants.
                li Adjustment range is from Off to 100% of the programmed control range.
                li A fifth adjustment sets the flow index when no call is selected.
                li Pilot Pulse Enable/Disable.
                li PWM or 0-10 V output
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | datasheet
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | more on pro features