extends ../../templates/mainLayout.pug

block head
    title HVAC Automation — Evolution Controls Inc.

block content
    br
    br
    h1 HVAC Automation
    br
    h5.bio-heading
        |CONTROLS AND ACCESSORIES FOR HVAC, BUILDING AUTOMATION, 
        |FACTORY AUTOMATION & SCADA SYSTEMS
    br
    p.bio-heading
        |While our controls are marketed for EC Motor applications, many can be
        |used in other control applications.
    br
    .col.page-numbers
        a.current-page(href=baseUrl + 'products-sub-pages/hvac-automation.html' type='button')
            |1 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg3.html' type='button')
            |&nbsp 3 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg4.html' type='button')
            |&nbsp 4
    br
    .row
        //-1
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EHM.png' alt='EHM Control Unit')
        .col.product-description
            h5 SSR  Electric Heater Module
            p.product-subheading
                |Allow a wide variety of temperature control signal to control a Solid State Relay (SSR) switched electric heater assembly in Capacity Limit or Discharge Air Temperature control mode.
            p.product-subheading
                |Optionally, it can be configured to provide SSR overheat protection and insufficient air flow overheat protection
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1k--w5Dpe0LZ0Obnhydu8z-MwCRowjiad/view' target='_blank' type='button')
                | EVO/ECM DATASHEET
            a.btn.btn-secondary.products(href=baseUrl + 'products-sub-pages/pro-series.html' type='button')
                | MORE ON PRO FEATURES
    br
    .row
        //-2
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/ECM 3PT.gif' alt='3PT Control Unit')
        .col.product-description
            h5 Increase/Decrease to 0-10V 
            p.product-subheading
                |Use push buttons or Digital Output from a PLC to increase or decrease the 0-10V output signal.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1dpGEvl24ZKqtaNVsoMtEVvvRLkV2S8Nd/view' target='_blank' type='button')
                | EVO/ECM-3PT DATASHEET
    br
    .row
        //-3
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/10Y-PWMa DATASHEET.bmp' alt='10Y-PWMa Control Unit')
        .col.product-description
            h5 PWM to 0-10V Converter
            p.product-subheading
                |Converts motor & VFD control signals to 0-10V.  Use it to monitor a PWM controlled motor signal. Or use with our PWM controls to distribute a signal to points throughout a building, through noisy environments, or over a long distance. 
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1XWxmSGQ-d943aKfvATYHEByTEo1Xp3vJ/view' target='_blank' type='button')
                | 10Y/PWMA DATASHEET
    br
    .row
        //-4
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/IRC 10Y.JPG' alt='IRC Control Unit')
        .col.product-description
            h5 IR Remote Control to 0-10V 
            p.product-subheading
                |Use a handheld IR control to remotely adjust a 0-10V signal. 
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1b4ODyKoh2mJE-LKP8bmkGHDx1oUAjVBa/view' target='_blank' type='button')
                | INFRA-RED REMOTE CONTROL
    br
    .col.page-numbers
        a.current-page(href=baseUrl + 'products-sub-pages/hvac-automation.html' type='button')
            |1 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg3.html' type='button')
            |&nbsp 3 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg4.html' type='button')
            |&nbsp 4
    br
    br
    .text-center
        a.btn.btn-secondary.back-to-top(href=baseUrl + 'products-sub-pages/hvac-automation.html' type='button')
            |back to top
