extends ../../templates/mainLayout.pug 

block content
    br
    br
    h1 HVAC Automation
    br
    h5.bio-heading
        |CONTROLS AND ACCESSORIES FOR HVAC, BUILDING AUTOMATION, 
        |FACTORY AUTOMATION & SCADA SYSTEMS
    br
    p.bio-heading
        |While our controls are marketed for EC Motor applications, many can be
        |used in other control applications.
    br
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EHM.png' alt='EHM Control Unit')
        .col.product-description
            h5 SSR  Electric Heater Module
            p.product-subheading
                |Allow a wide variety of temperature control signal to control a Solid State Relay (SSR) switched electric heater assembly in Capacity Limit or Discharge Air Temperature control mode.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | evo/ehm datasheet
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/ECM 3PT.gif' alt='3PT Control Unit')
        .col.product-description
            h5 Increase/Decrease to 0-10V 
            p.product-subheading
                |Use push buttons or Digital Output from a PLC to increase or decrease the 0-10V output signal.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | evo/ecm-3pt datasheet
    br
    .row
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/10Y-PWMa Datasheet.bmp' alt='10Y-PWMa Control Unit')
        .col.product-description
            h5 PWM to 0-10V Converter
            p.product-subheading
                |Converts motor & VFD control signals to 0-10V.  Use it to monitor a PWM controlled motor signal. Or use with our PWM controls to distribute a signal to points throughout a building, through noisy environments, or over a long distance. 
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | 10y/pwma datasheet
    br
    .row
        .col.product-image
            img.product-photos(src='' alt='')
        .col.product-description
            h5 IR Remote Control to 0-10V 
            p.product-subheading
                |Use a handheld IR control to remotely adjust a 0-10V signal. 
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | infra-red remote control
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Four ~24V inputs to 0-10V Switch
            p.product-subheading
                |Up to 4 ~24V calls output 0-10V.  Each call has an adjustable output.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | evo/ecm-4spd-pro datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Bluetooth to 0-10V
            p.product-subheading
                |Use Android or iOS phone or tablet to adjust the 0-10V output.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | evo/ecm-bcu datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Differential Air Pressure Controller to 0-10V
            p.product-subheading
                |Measures ∆ air pressure and outputs a proportional/integral 0-10V control loop output signal.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | evo/ecm-dpc datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Knob-adjust to 0-10V Gradual Switch
            p.product-subheading
                |Simple 0-10V output gradual switch that mounts in a single gang electrical cover or box.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | evo/ecm-gcu datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Modbus Protocol I/O
            p.product-subheading
                |Control up to four 0-10V outputs and monitor up to four discrete inputs.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | evo/ecm-modbus datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Single ~24V input to 0-10V Switch
            p.product-subheading
                |Outputs an adjustable 0-10V signal when ~24V is off, and another when the ~24V signal is on.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | evo/ecm-mspd datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Bluetooth to 0-10V
            p.product-subheading
                |Use Android or iOS phone or tablet to adjust the 0-10V output.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | evo/ecm-bcu datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Differential Air Pressure Controller to 0-10V
            p.product-subheading
                |Measures ∆ air pressure and outputs a proportional/integral 0-10V control loop output signal.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | evo/ecm-dpc datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Knob-adjust to 0-10V Gradual Switch
            p.product-subheading
                |Simple 0-10V output gradual switch that mounts in a single gang electrical cover or box.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | evo/ecm-gcu datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Modbus Protocol I/O
            p.product-subheading
                |Control up to four 0-10V outputs and monitor up to four discrete inputs.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                | evo/ecm-modbus datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Single ~24V input to 0-10V Switch
            p.product-subheading
                |Outputs an adjustable 0-10V signal when ~24V is off, and another when the ~24V signal is on.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                |evo/ecm-mspd datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Four Input ~24V OR Relay
            p.product-subheading
                |Energized relay if any or all the four ~24V inputs are energized. ~24V inputs do not feed back to the de-energized inputs.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                |evo/rly-40r datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Voltage Sensitive Relay
            p.product-subheading
                |On board relay closes at selected Voltage.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                |evo/rlsw datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Three Contact Input to 0-10V Interface
            p.product-subheading
                |Monitor three dry contacts using one 0-10V PLC input.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                |evo/rnet datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Indicating 0-10V Grad Switch
            p.product-subheading
                |Adjustable indication range and offset.  Use to display Volts, temperature, pressure, rotation, flow, position, etc.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                |evo/ecm-vcu datasheet
    br
    .row
        .col.product-image
            img(src='' alt='')
        .col.product-description
            h5 Stager 0-10V
            p.product-subheading
                |0-10V stages five ~24V outputs in equal steps.
            a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
                |evo/x13 datasheet
    .text-center
        a.btn.btn-secondary(href=baseUrl + 'products-sub-pages/hvac-automation.html' type='button')
            |Back to Top
