extends ../../templates/mainLayout.pug

block head
    title HVAC Automation — Evolution Controls Inc.
block content
    br
    br
    h1 HVAC Automation
    br
    .col.page-numbers
        a(href=baseUrl + 'products-sub-pages/hvac-automation.html' type='button')
            |1 &nbsp.  
        a.current-page(href=baseUrl + 'products-sub-pages/hvac-automation-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg3.html' type='button')
            |&nbsp 3 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg4.html' type='button')
            |&nbsp 4
    br
    .row
        //-5
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/4spd_pro.png' alt='4SPD Control Unit')
        .col.product-description
            h5 Four ~24V inputs to 0-10V Switch
            p.product-subheading
                |Up to 4 ~24V calls output 0-10V.  Each call has an adjustable output.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1ahBTga9kY5Iwll0cx9A-ZH8_R63EL64i/view' target='_blank' type='button')
                | EVO/ECM-4SPD-PRO DATASHEET
    br
    .row
        //-6
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/Bluetooth_Control-unit.JPG' alt='BCU Control Unit')
        .col.product-description
            h5 Bluetooth to 0-10V
            p.product-subheading
                |Use Android or iOS phone or tablet to adjust the 0-10V output.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1dwtl33HLcICDaVy_TlCdNfcvLX2TUwJs/view' target='_blank' type='button')
                | EVO/ECM-BCU DATASHEET
    br
    .row
        //-7
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/DPC Cover final.png' alt='DPC Unit Cover')
        .col.product-description
            h5 Differential Air Pressure Controller to 0-10V
            p.product-subheading
                |Measures ∆ air pressure and outputs a proportional/integral 0-10V control loop output signal.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1V6BQqEr0SanGGUoLdIr1CrD-Evnk4pyH/view' target='_blank' type='button')
                | EVO/ECM-DPC DATASHEET
    br
    .row
        //-8
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/GCU wall plate.jpg' alt='GCU Wall Unit')
        .col.product-description
            h5 Knob-adjust to 0-10V Gradual Switch
            p.product-subheading
                |Simple 0-10V output gradual switch that mounts in a single gang electrical cover or box.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1jaDsBNPylzwNqo2kc7T9wIXBAw_zluiI/view' target='_blank' type='button')
                | EVO/ECM-GCU DATASHEET
    br
    .col.page-numbers
        a(href=baseUrl + 'products-sub-pages/hvac-automation.html' type='button')
            |1 &nbsp.  
        a.current-page(href=baseUrl + 'products-sub-pages/hvac-automation-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg3.html' type='button')
            |&nbsp 3 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg4.html' type='button')
            |&nbsp 4
    br
    br
    .text-center
        a.btn.btn-secondary.back-to-top(href=baseUrl + 'products-sub-pages/hvac-automation-pg2.html' type='button')
            |back to top