extends ../../templates/mainLayout.pug

block head
    title HVAC Automation — Evolution Controls Inc.
block content
    br
    br
    h1 HVAC Automation
    br
    .col.page-numbers
        a(href=baseUrl + 'products-sub-pages/hvac-automation.html' type='button')
            |1 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg3.html' type='button')
            |&nbsp 3 &nbsp.  
        a.current-page(href=baseUrl + 'products-sub-pages/hvac-automation-pg4.html' type='button')
            |&nbsp 4
    br
    .row
        //-13
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/rnet.gif' alt='RNET Control Unit')
        .col.product-description
            h5 Three Contact Input to 0-10V Interface
            p.product-subheading
                |Monitor three dry contacts using one 0-10V PLC input.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1wVUN-lrqnpQkdYuOq1IpyYcjOjFuNbeI/view' target='_blank' type='button')
                | EVO/ECM-RNET DATASHEET
    br
    .row
        //-14
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EVO-ECM-VCU-MP.png' alt='VCU Control Unit')
        .col.product-description
            h5 Indicating 0-10V Grad Switch
            p.product-subheading
                |Adjustable indication range and offset.  Use to display Volts, temperature, pressure, rotation, flow, position, etc.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1FGUxFCGAXYT7iJqL3FAPhKXea-YeqhQ9/view' target='_blank' type='button')
                | EVO/ECM-VCU DATASHEET
    br
    .row
        //-15
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/X13_No_Wires.png' alt='X13 Control Unit')
        .col.product-description
            h5 Stager 0-10V
            p.product-subheading
                |0-10V stages five ~24V outputs in equal steps.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1_edPcC7Wrx_4JEs36Ay2-kksXQ_tHeBQ/view' target='_blank' type='button')
                |ECM/X13 DATASHEET
    br
    .col.page-numbers
        a(href=baseUrl + 'products-sub-pages/hvac-automation.html' type='button')
            |1 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg3.html' type='button')
            |&nbsp 3 &nbsp.  
        a.current-page(href=baseUrl + 'products-sub-pages/hvac-automation-pg4.html' type='button')
            |&nbsp 4
    br
    br
    .text-center
        a.btn.btn-secondary.back-to-top(href=baseUrl + 'products-sub-pages/hvac-automation-pg4.html' type='button')
            |back to top