extends ../../templates/mainLayout.pug

block head
    title HVAC Automation — Evolution Controls Inc.
block content
    br
    br
    h1 HVAC Automation
    br
    .col.page-numbers
        a(href=baseUrl + 'products-sub-pages/hvac-automation.html' type='button')
            |1 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a.current-page(href=baseUrl + 'products-sub-pages/hvac-automation-pg3.html' type='button')
            |&nbsp 3 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg4.html' type='button')
            |&nbsp 4
    br
    .row
        //-9
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EVO_ModBus_pt1.jpg' alt='Modbus Control Unit')
        .col.product-description
            h5 Modbus Protocol I/O
            p.product-subheading
                |Control up to four 0-10V outputs and monitor up to four discrete inputs.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1bdKZRCLZLl4rLq7NFQESQgsVO0rU4OS4/view' target='_blank' type='button')
                | EVO/ECM-MODBUS DATASHEET
    br
    .row
        //-10
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/ECM Mspd2.png' alt='MSPD Control Unit')
        .col.product-description
            h5 Single ~24V input to 0-10V Switch
            p.product-subheading
                |Outputs an adjustable 0-10V signal when ~24V is off, and another when the ~24V signal is on.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1vefyMKZoL9hs3iyCIwVtKiXX_hfBVs4k/view' target='_blank' type='button')
                | EVO/ECM-MSPD DATASHEET
    br
    .row
        //-11
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/rly 4or.JPG' alt='RLY 4OR Control Unit')
        .col.product-description
            h5 Four Input ~24V OR Relay
            p.product-subheading
                |Energized relay if any or all the four ~24V inputs are energized. ~24V inputs do not feed back to the de-energized inputs.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1sINTgxOEnARD6s5QPchOqvb_gDRHx5BH/view' target='_blank' type='button')
                | EVO/RLY-4OR DATASHEET
    br
    .row
        //-12
        .col.product-image
            img.product-photos(src='../src/photos/products-photos/EVO_RSLW-S0.png' alt='Relay Switch')
        .col.product-description
            h5 Voltage Sensitive Relay
            p.product-subheading
                |On board relay closes at selected Voltage.
            a.btn.btn-secondary.products(href='https://drive.google.com/file/d/1ydO92-_CkPxfNlO2GdedOhhOU0DLCq4A/view' target='_blank' type='button')
                | EVO/RLSW DATASHEET
    br
    .col.page-numbers
        a(href=baseUrl + 'products-sub-pages/hvac-automation.html' type='button')
            |1 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg2.html' type='button')
            |&nbsp 2 &nbsp.  
        a.current-page(href=baseUrl + 'products-sub-pages/hvac-automation-pg3.html' type='button')
            |&nbsp 3 &nbsp.  
        a(href=baseUrl + 'products-sub-pages/hvac-automation-pg4.html' type='button')
            |&nbsp 4
    br
    br
    .text-center
        a.btn.btn-secondary.back-to-top(href=baseUrl + 'products-sub-pages/hvac-automation-pg3.html' type='button')
            |back to top