extends ../../templates/mainLayout.pug

block content
    br
	br
	h1 Applications
	p
		| Evolution Controls Inc. is pleased to present our newest additions to
		| the expanding line of controllers for the energy-saving EC Motors.
	br
	br
	.row
		.col
			img(src='' alt='')
		.col.product-description
			h5 MODBUS/BACNET INTEGRATION
			ul
				li Exhaust Fan Control
				li Whole house fan control
				li Outside Air Economizer
				li Discharge Air Temperature Control
				li Condenser Air Fan Control
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| Datasheets
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| Quick Guide
	br
	.row
		.col
			img(src='' alt='')
		.col.product-description
			ul
				li
					| Equipment manufacturer can download preconfigured custom
					| profile to PRO series controls
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| Learn More
	br
	.row
		.col
			img(src='' alt='')
		.col.product-description
			h5 EVO/™ECM-GCU (Gradual Control Unit)
			ul
				li PWM or 0-10VDC universal output
				li
					| Allows accurate manual adjustment of EC motors and other HVAC
					| and industrial control applications
				li
					| Compatible with standard single gang box for wall mounting in
					| occupied space
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| Datasheets
	br
	.row
		.col
			img(src='' alt='')
		.col.product-description
			h5 EVO/™RLSW (Relay Switch)
			ul
				li
					| Detects PWM or senses 0-10VDC signal thresholds to
					| automatically switch equipment on/off in HVAC applications
				li
					| Selectable switching voltage thresholds in 0-10V voltage
					| sensitive relay mode
				li Built-in hysteresis to avoid contact chatter
			a.btn.btn-secondary.products(href=baseUrl + 'new-products.html' type='button')
				| Datasheets