doctype html
head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	title Evolution Controls Inc.
	link(rel='icon' type='image/x-icon' href=baseUrl + 'src/photos/EVO logo.jpg')
	link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD' crossorigin='anonymous')
	link(rel='preconnect' href='https://fonts.googleapis.com')
	link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
	link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap' rel='stylesheet')
	link(href='https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Overpass:wght@900&display=swap' rel='stylesheet')
	link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap' rel='stylesheet')
	link(rel='stylesheet' href=baseUrl + 'src/stylesheet.css')
	link(rel='stylesheet' href=baseUrl + 'src/menu-footer.css')
	linklink(rel='stylesheet' href=baseUrl + 'src/photo-carousel.css')

body
	.nav-bar
		.row.menu
			img.col.menuLogo(src=baseUrl + 'src/photos/New+Logo.png' alt='Evolution Controls Logo')
			a.col.menu-title(href=baseUrl + 'index.html') HOME
			.col.menu-title.dropdown
				button.dropbtn PRODUCTS ▼
				.dropdown-content
					a(href=baseUrl + 'products-sub-pages/pro-series.html') PRO SERIES
					a(href=baseUrl + 'products-sub-pages/wireless-series.html') WIRELESS SERIES
					a(href=baseUrl + 'products-sub-pages/ec-motor-controls.html') EC MOTOR CONTROLS
					a(href=baseUrl + 'products-sub-pages/hvac-automation.html') HVAC AUTOMATION
					a(href=baseUrl + 'products-sub-pages/accessories-cables.html') ACCESSORIES AND CABLES
					a(href=baseUrl + 'products-sub-pages/sales-support.html') SALES SUPPORT
			a.col.menu-title(href=baseUrl + 'new-products.html') NEW PRODUCTS
			a.col.menu-title(href=baseUrl + 'datasheets.html') DATASHEETS
			a.col.menu-title(href=baseUrl + 'distributors.html') DISTRIBUTORS
			a.col.menu-title(href=baseUrl + 'tech-support.html') TECH SUPPORT
			a.col.menu-title(href=baseUrl + 'photo-carousel.html') CAROUSEL
			span.col.menu-title.dropdown
				a.dropbtn APPLICATIONS ▼
				.dropdown-content
					a(href=baseUrl + 'applications-sub-pages/applications.html') APPLICATIONS
					a(href=baseUrl + 'applications-sub-pages/guide-specs.html') GUIDE SPECS

	block content

	.footer-bar
	footer.footer
		p
			| © Evolution Controls Inc. Poway, CA, USA 
			br
			|             Last update: December 2022 
			br
			|             Tech Support: (858) 748-7359 
			br
			|             Comments: sales@gotoevo.com
