doctype html
head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	
	link(rel='icon' type='image/x-icon' href=baseUrl + 'src/photos/EVO logo.jpg')
	link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD' crossorigin='anonymous')
	link(rel='preconnect' href='https://fonts.googleapis.com')
	link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
	link(href='https://fonts.googleapis.com/css2?family=Heebo:wght@500;600;700&family=Josefin+Sans:wght@500;700&family=Lexend+Deca&family=Overpass:wght@900&display=swap' rel='stylesheet')
	link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;500;600&family=Noto+Sans+JP:wght@400;700&family=Sometype+Mono:wght@600&display=swap' rel='stylesheet')
	link(href='https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&family=Sometype+Mono:wght@700&display=swap' rel='stylesheet')
	link(href='https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap' rel='stylesheet')
	link(rel='stylesheet' href=baseUrl + 'src/mobile.css' media='(max-width: 428px)')
	link(rel='stylesheet' href=baseUrl + 'src/stylesheet.css' media='(min-width: 429px)')
	link(rel='stylesheet' href=baseUrl + 'src/menu-footer.css')
	link(rel='stylesheet' href=baseUrl + 'src/photo-carousel.css')
	link(rel='stylesheet' href=baseUrl + 'src/wireless-sub-page.css')
	link(rel='icon' type='image/x-icon' href=baseUrl + 'src/photos/EVO Logo.ico')
	
	block head
		title Evolution Controls Inc.


body
	.header
		.topnav
			.row
				.menu#nav-links-desktop
					a(href=baseUrl + 'index.html')
						img.menuLogo(src=baseUrl + 'src/photos/New+Logo.png' alt='Evolution Controls Logo')
					a.menu-title(href=baseUrl + 'index.html') HOME
					.menu-title.dropdown
						a.dropbtn PRODUCTS ▼
						.dropdown-content
							a(href=baseUrl + 'products-sub-pages/pro-series.html') PRO SERIES
							a(href=baseUrl + 'products-sub-pages/wireless-series.html') WIRELESS SERIES
							a(href=baseUrl + 'products-sub-pages/ec-motor-controls.html') EC MOTOR CONTROLS
							a(href=baseUrl + 'products-sub-pages/hvac-automation.html') HVAC AUTOMATION
							a(href=baseUrl + 'products-sub-pages/accessories-cables.html') ACCESSORIES AND CABLES
							a(href=baseUrl + 'products-sub-pages/sales-support.html') SALES SUPPORT
					a.menu-title(href=baseUrl + 'new-products.html') NEW PRODUCTS
					a.menu-title(href=baseUrl + 'datasheets.html') DATASHEETS
					a.menu-title(href=baseUrl + 'distributors.html') DISTRIBUTORS
					a.menu-title(href=baseUrl + 'tech-support.html') TECH SUPPORT
					.menu-title.dropdown
						a.dropbtn APPLICATIONS ▼
						.dropdown-content
							a(href=baseUrl + 'applications-sub-pages/applications.html') APPLICATIONS
							a(href=baseUrl + 'applications-sub-pages/guide-specs.html') GUIDE SPECS
				//-mobile view
				.topLine
					a(href=baseUrl + 'index.html')
						img.menuLogoMobile(src=baseUrl + 'src/photos/New+Logo.png' alt='Evolution Controls Logo')
					a.col.mobile-nav.icon(href='javascript:void(0);' onclick='displayLinks()')
						i.mobileMenu.fa-solid.fa-bars
				#nav-links-mobile
					.menu-title.dropdown
						a.dropbtn PRODUCTS ▼
						.dropdown-content
							a(href=baseUrl + 'products-sub-pages/pro-series.html') PRO SERIES
							a(href=baseUrl + 'products-sub-pages/wireless-series.html') WIRELESS SERIES
							a(href=baseUrl + 'products-sub-pages/ec-motor-controls.html') EC MOTOR CONTROLS
							a(href=baseUrl + 'products-sub-pages/hvac-automation.html') HVAC AUTOMATION
							a(href=baseUrl + 'products-sub-pages/accessories-cables.html') ACCESSORIES AND CABLES
							a(href=baseUrl + 'products-sub-pages/sales-support.html') SALES SUPPORT
					a.menu-title(href=baseUrl + 'new-products.html') NEW PRODUCTS
					a.menu-title(href=baseUrl + 'datasheets.html') DATASHEETS
					a.menu-title(href=baseUrl + 'distributors.html') DISTRIBUTORS
					a.menu-title(href=baseUrl + 'tech-support.html') TECH SUPPORT
					.menu-title.dropdown
						a.dropbtn APPLICATIONS ▼
						.dropdown-content
							a(href=baseUrl + 'applications-sub-pages/applications.html') APPLICATIONS
							a(href=baseUrl + 'applications-sub-pages/guide-specs.html') GUIDE SPECS
		br


	block content

	.footer-bar
	footer.footer
		p
			| © Evolution Controls Inc. Poway, CA, USA 
			br
			|Last update: February 2024 
			br
			|Tech Support: (858) 748-7359
			br
			|Comments: sales@gotoevo.com
			br
			#coder
			|Coded by 
			a.coder(href='https://www.meganyipart.com/' target='_blank') Megan Yip

	script(src='https://kit.fontawesome.com/a5f3a35235.js' crossorigin='anonymous')
	script
		include ../src/mobile-menu.js